{
    "presets": [
        ["env",{
            "targers": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}